version: '3'
services:
  smtp:
    build: smtp/
    ports:
      - '25:25'
      - '587:587'
    depends_on:
      - sasl
      - spamassassin
      - clamavmilter
      - opendkim
    volumes:
      - <path to certificate chain file>:/certs/cert.pem:ro
      - <path to certificate key file>:/certs/key.pem:ro
    environment:
      DOMAIN: <your domain>
      BIND_DN: <DN for postfix to bind to the ldap service>
      BIND_PW: <Password for this DN>
      # Aliases are expected to be of the form :
      # uid: <user part of the email (before @)>
      USERS_SEARCH_BASE: <base DN for users search (ex: ou=Users,dc=example,dc=com)>
      # Aliases are expected to be of the form :
      # aliasedObjectName: <DN of the aliased user>
      # uid: <alias username (before @)>
      ALIASES_SEARCH_BASE: <base DN for aliases search (ex: ou=Aliases,dc=example,dc=com)>
      # the $ symbol must be escaped with another $
      # to see what kind of rewriting can be done with regex aliases, see
      # there http://www.postfix.org/regexp_table.5.html
      ALIASES_REGEX: |
        /^bar_.+@<your domain, escaped>$$/ foo@<your domain>
        .
        .
        .
  imap:
    build: imap/
    depends_on:
      - ldap
    ports:
      - '143:143'
      - '993:993'
    volumes:
      - <path to certificate chain file>:/certs/cert.pem:ro
      - <path to certificate key file>:/certs/key.pem:ro
      - mailboxes:/var/mail/vmail/mailboxes
    environment:
      # full DN template for users LDAP bind authentication
      # you can use the variables provided by Dovecot
      # see: https://wiki.dovecot.org/Variables
      USER_DN_TEMPLATE: <DN template>
  lmtp:
    build: lmtp/
    volumes:
      - mailboxes:/var/mail/vmail/mailboxes
      - sieveboxes:/var/mail/vmail/sieveboxes
    environment:
      POSTMASTER_ADDRESS: postmaster@<your domain>
  sasl:
    build: sasl/
    depends_on:
      - ldap
    environment:
      # full DN template for users LDAP bind authentication
      # you can use the variables provided by Dovecot
      # see: https://wiki.dovecot.org/Variables
      USER_DN_TEMPLATE: <DN template>
  ldap:
    build: ldap/
    # see image README for more information and configuration options
    environment:
      SLAPD_DOMAIN: <your domain>
      SLAPD_PASSWORD: <your LDAP admin password>
    volumes:
      - ldap_data:/var/lib/ldap
      - ldap_config:/etc/ldap
  sieve:
    build: sieve/
    depends_on:
      - ldap
    ports:
      - '4190:4190'
    environment:
      # full DN template for users LDAP bind authentication
      # you can use the variables provided by Dovecot
      # see: https://wiki.dovecot.org/Variables
      USER_DN_TEMPLATE: <DN template>
    volumes:
      - <path to certificate chain file>:/certs/cert.pem:ro
      - <path to certificate key file>:/certs/key.pem:ro
      - sieveboxes:/var/mail/vmail/sieveboxes
  opendkim:
    build: opendkim/
    volumes:
      - <path to dkim private key file>:/certs/key.pem:ro
    environment:
      DOMAIN: <your domain>
  spamassassin:
    build: spamassassin/
  clamav:
    build: clamav/
  clamavmilter:
    build: clamav-milter/
    depends_on:
      - clamav
volumes:
  mailboxes:
  sieveboxes:
  ldap_data:
  ldap_config:
